.arabic-regular {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-style: normal;
}

body{
    height: 91vh;
    background-image: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.562);
}








