body {
  box-sizing: border-box;
  font-family: "Noto Sans Arabic", Cairo;
}

.color_orange {
  color: #F49B57 !important;
}
.color_white {
  color: #F49B57 !important;
}

.background_color_orange {
  color: #F49B57 !important;
}


.screen-width{
  max-width: 100%;
}

.fluid-container,
.row,
.col-7 {
  height: 100%; /* Set height for all parent elements */
}








.card-form {
  position: relative;

  width: 60%;
  height: 90%;
  align-self: center;
  color:#87898E ;
  border: none;
  border-radius: 20px;
}

.card-form .form-caption{

  font-size: 11px;
}

input::placeholder{
  color: #87898E  !important;
}

.eight-character-text p{
  font-size: 12px;
}


.card-form .btn-submit{
width: 100%;
  background-color:#F49B57;
  border: none;

}



.shopping-img{

 

  height: 85%;
width: 100%;
 

}


.error {

  border-color: red !important;
}







@media (max-width: 576px) {
  body::before {
    /* content: "xs"; */
  }


  .card-form {

  
    width: 90%;
    padding-top: 7rem !important;


  }


}
@media (min-width: 576px) {
  body::before {
    /* content: "SM"; */
  }

}

@media (min-width: 768px) {
  body::before {
    /* content: "MD"; */
  }
}

@media (min-width: 992px) {
  body::before {
    /* content: "LG"; */
  }
}

@media (min-width: 1200px) {
  body::before {
    /* content: "XL"; */
  }
}

@media (min-width: 1400px) {
  body::before {
    /* content: "XXL"; */
  }
}






